.grid {
    /* padding-top: 300px; */
    display: grid;
    /* align-content: center; */
    /* align-items: center; */
    /* justify-items: stretch; */
    /* grid-template-rows: repeat(auto-fit, minmax(20px, 1fr)); */
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    /* height: 50%;
    width: 100%; */
  
  
  }
