$visited-node-beggining-color: #F3BB45
$visited-node-end-color: #DB5A42
$unvisited-node-color: #e3e3e3
$shortest-path-node-color: #00C49A
$journey-node-color: #156064
$wall-node-color: #483C46

.node
    display: flex
    justify-content: center
    margin: .25em
    color: $wall-node-color

.node-empty
    background: $unvisited-node-color
.visited-false
    background: $unvisited-node-color
.visited-true
    background: $visited-node-beggining-color
.node-wall
    background: $wall-node-color
.shortest-path-true
    background: $visited-node-end-color

svg
    display: inline-block
    margin: auto